* {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
.light-theme {
  --clr-background: #f6f8ff;
  --clr-logo: #222731;
  --clr-icon: #4b6a9b;
  --clr-search: #fefefe;
  --clr-boxShadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  --clr-isfalse: gray;
  --clr-date: #697c9a;
}
.dark-theme {
  --clr-background: #141d2f;
  --clr-logo: #ffffff;
  --clr-icon: #ffffff;
  --clr-search: #1e2a47;
  --clr-followersbg: #141d2f;
  --clr-isfalse: #697c9a;
  --clr-date: #ffffff;
}
body {
  background: #141d2f;
  display: flex;
  justify-content: center;
  font-family: "Space Mono", monospace;
  background-color: var(--clr-background);
}
input {
  background-color: transparent;
  border: none;
  border-color: transparent;
  caret-color: #0079ff;
}
input:focus {
  outline: 0;
}
button {
  background-color: transparent;
  border: none;
}
.loading-img {
  display: block;
  margin: auto;
}
